
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#loginModal">Login</button>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="loginModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Login to continue</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action='' name="login_form">
                        <p><input type="text" class="span3" name="eid" id="email" placeholder="Email"></p>
                        <p><input type="password" class="span3" name="passwd" placeholder="Password"></p>
                        <p><button type="submit" class="btn btn-primary">Sign in</button>
                            <a href="#">Forgot Password?</a>
                        </p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Steal Me</h1>
                    <!-- Page Content -->
                    <div class="container">
                        <!-- Marketing Icons Section -->
                        <div class="row">
                            <div class="col-lg-12">
                                <h1 class="page-header">
                                    Todays Current Daily Deals
                                </h1>
                            </div>
                            <div class="col-md-4">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h4>First Tier</h4>
                                    </div>
                                    <div class="panel-body">
                                        <a href="#"><img src="img/phones.png" class="img-responsive" alt="Responsive image">
                                        </a>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
                                                 aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                                40%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h4>Second Tier</h4>
                                    </div>
                                    <div class="panel-body">
                                        <a href="#"><img src="img/phones.png" class="img-responsive" alt="Responsive image">
                                        </a>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
                                                 aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                                40%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h4>Third Tier</h4>
                                    </div>
                                    <div class="panel-body">
                                        <a href="#"><img src="img/phones.png" class="img-responsive" alt="Responsive image">
                                        </a>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
                                                 aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                                40%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <center>
                    <ul class="list-inline ">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Your Company 2014. All Rights Reserved</p>
                </center>
            </div>
        </div>
    </div>
</footer>


